{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Accounts Login</title>
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> -->

    {% endblock %}

</head>
<body>
    
    {% block body %}
    <div class="container">
        <h1>Accounts Login</h1>
        <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-lg" type="submit">Login</button>
        </form>
    </div>
    {% endblock %}

</body>
</html>