<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
    <p>
        {% comment %} {{ person.name }} is {{ person.age }} years old. {% endcomment %}
        {% comment %} Hello, {{ person.first_name.upper }} {{ person.last_name.isdigit }}. {% endcomment %}
        {% comment %} Item 0 is {{ items.0 }}. {% endcomment %}
        My name is {{ person.second_name }}
    </p>
    
</body>
</html>